<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>
  <p>We look forward to responding to any questions or concerns you may have.
  Our business hours are Monday to Friday 9.30am – 5.30pm.</p>

  <p><em>Postal address</em>:
  9999,abcd abcd abcd, abcd, abcd – 99999<p>

  <p><b><em>General enquiries:</em></b></p>
  <p>Email: abcdefgh@abcd.com</p>
  <p></p>Phone: 999999999999</p>

  <p><b><em>Volunteer enquiries:</em></b></p>
  <p>Email: abcdefgh@abcd.com</p>
  <p>Phone: 999999999999</p>

</p>

