<% provide(:title, 'Contact Us') %>

<h1>How <em>YOU</em> can help make a difference - <em>Volunteer</em></h1>
<p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
  Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz,
  bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz
  whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack.</p>

  <span style="color:#0f16ff HighlightText "><%= link_to "Read Volunteer success stories",story_path,class: "btn btn-large btn-primary" %>

</span>

