<% provide(:title, 'Contact Us') %>

<h1>Success stories from our Volunteers</h1>
<p>We look forward to responding to any questions or concerns you may have.
  Our business hours are Monday to Friday 9.30am – 5.30pm.</p>

  <p><em>Postal address</em>:
  9999,abcd abcd abcd, abcd, abcd – 99999<p>

  General enquiries:
  Email: abcdefgh@abcd.com
  Phone: 999999999999

  Volunteer enquiries:
  Email: abcdefgh@abcd.com
  Phone: 999999999999

</p>

